
/* Estilos para las migas de pan (breadcrumbs) - Se usarán en las vistas dedicadas */
.breadcrumbs {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 0 2rem 0;
    flex-wrap: wrap;
}

.breadcrumbs li {
    display: flex;
    align-items: center;
}

.breadcrumbs li:not(:last-child)::after {
    content: '/';
    margin: 0 0.5rem;
    color: var(--gray);
}

.breadcrumbs a {
    color: var(--text-color-secondary);
    text-decoration: none;
}

.breadcrumbs a:hover {
    color: var(--primary);
}

.breadcrumbs li:last-child a {
    color: var(--primary);
    pointer-events: none;
}
